@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizzing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
}

a{
    color: #fff;
    text-decoration:none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a {
    color: #7cf03d;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size: 32px;
    top-margin: -10px;
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box {
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
}

.home-img .img-box .img-item {
     position: relative;
    width: 100%;
    height: 100%;
    background: slateblue;
}

home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
}

.contact-container{
    height: 105vh;
    display: flex;
    justify-content: space-evenly;
}

.contact-left{
 font-weight: 600;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}

}

.contact-left-tittle hr{
    border: none;
    width: 50px;
    height: 5px;
    background-color: #a363aa;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
}